<nav class="navbar navbar-inverse site-navbar">
    <!--<div class="top-logo">
        <div class="container">
            <div class="row">
                <div class="pull-left top-logo-left">
                    <a href="index.html">
                        <img src="/images/logo.png" class="logo-index" />
                    </a>
                    <div class="top-index-shux">
                        <p>专注研发生产高品质水性漆</p>
                        <span>集研发、生产和销售于一体的环保新材料科技型企业</span>
                    </div>
                </div>
                <div class="pull-right">
                    <p class="pull-left top-icon"><i class="glyphicon glyphicon-earphone"></i></p>
                    <div class="pull-left top-parent">
                        <p class="top-hour">24小时服务热线：</p>
                        <p class="top-contact">0512-57995109</p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="about-nav-py">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed jicheng" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img alt="Brand" src="/images/logo.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu//images/logo.png"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-top-quanju">
                    <li>
                        <a href="@Url.Action("Index","Index")" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/index.html" class="active-daohang">网站首页</a>
                    </li>
                    <li>
                        <a href="@Url.Action("About","About")" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/about.html">关于我们</a>
                    </li>
                    @*<li> 业务范围 注释掉暂时不用
                        <a href="yewu.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/yewu.html">业务范围</a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("News","News")" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/news.html">新闻资讯</a>
                    </li>
                    @*<li> 网上下单 注释掉暂时不用
                        <a href="xiadan.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/xiadan.html">网上下单</a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("Contact","Contact")" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/contact.html">联系我们</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</nav>