@model object

<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>后台登录</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

    <style>
        @@import url(https://fonts.googleapis.com/css?family=Vibur);
        * {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          font-family: arial;
        }

        body {
            background: #2F4056;
        }

        h1 {
          color: #ccc;
          text-align: center;
          font-family: 'Vibur', cursive;
          font-size: 50px;
        }

        .login-form {
          width: 350px;
          padding: 40px 30px;
          background: #eee;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        .form-group {
          position: relative;
          margin-bottom: 15px;
        }

        .form-control {
          width: 100%;
          height: 50px;
          border: none;
          padding: 5px 7px 5px 15px;
          background: #fff;
          color: #666;
          border: 2px solid #ddd;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
        }
        .form-control:focus, .form-control:focus + .fa {
          border-color: #10CE88;
          color: #10CE88;
        }

        .form-group .fa {
          position: absolute;
          right: 15px;
          top: 17px;
          color: #999;
        }

        .form-group .verification-code-image {
            position: absolute;
            right: 15px;
            top: 7px;
            color: #999;
            cursor: pointer;
        }

        .log-status.wrong-entry {
          -moz-animation: wrong-log 0.3s;
          -webkit-animation: wrong-log 0.3s;
          animation: wrong-log 0.3s;
        }

        .log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
          border-color: #ed1c24;
          color: #ed1c24;
        }

        .log-btn {
          background: #0AC986;
          display: inline-block;
          width: 100%;
          font-size: 16px;
          height: 50px;
          color: #fff;
          text-decoration: none;
          border: none;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
        }

        .link {
          text-decoration: none;
          color: #C6C6C6;
          float: right;
          font-size: 12px;
          margin-bottom: 15px;
        }
        .link:hover {
          text-decoration: underline;
          color: #8C918F;
        }

        .alert {
          display: none;
          font-size: 12px;
          color: #f00;
          float: left;
        }

        @@-moz-keyframes wrong-log {
          0%, 100% {
            left: 0px;
          }
          20% , 60% {
            left: 15px;
          }
          40% , 80% {
            left: -15px;
          }
        }
        @@-webkit-keyframes wrong-log {
          0%, 100% {
            left: 0px;
          }
          20% , 60% {
            left: 15px;
          }
          40% , 80% {
            left: -15px;
          }
        }
        @@keyframes wrong-log {
          0%, 100% {
            left: 0px;
          }
          20% , 60% {
            left: 15px;
          }
          40% , 80% {
            left: -15px;
          }
        }
    </style>
</head>

<body>

    <div class="login-form">
        <h1>Vini</h1>
        <div class="form-group log-status">
            <input type="text" class="form-control" placeholder="用户名 " id="UserName" autocomplete="off">
            <i class="fa fa-user"></i>
        </div>
        <div class="form-group log-status">
            <input type="password" class="form-control" placeholder="密码" id="Password" autocomplete="off">
            <i class="fa fa-lock"></i>
        </div>
        <div class="form-group log-status">
            <input type="text" onKeyUp="value=value.replace(/[\W]/g,'')" class="form-control" placeholder="验证码" id="VerificationCode" autocomplete="off">
            <img id="verificationImage" class="verification-code-image" src="/admin/@Url.Action("VerificationCodeImage","VerificationCode")"/>
        </div>

        <span class="alert">无效的输入信息</span>
        <!--<a class="link" href="index.html#">Lost your password?</a>-->
        <button type="button" class="log-btn">登录</button>
    </div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script>
    $(document).ready(function() {
        $('.log-btn').click(function() {

            var empty = false;

            //验证非空
            $("input").each(function() {
                if ($(this).val() === '') {
                    $(this).parent().addClass('wrong-entry');
                    $('.alert').fadeIn(500);
                    setTimeout("$('.alert').fadeOut(1500);", 3000);
                    empty = true;
                    return;
                }
            });

            //登录
            if (!empty) {
                var index = layer.load();
                $.post('/admin/@Url.Action("Verify", "Login")',
                    {
                        UserName: $("#UserName").val(),
                        PassWord: md5($("#Password").val()),
                        VerificationCode: $("#VerificationCode").val().toLowerCase()
            },
                    function (response, status) {
                        layer.close(index);
                        if (response.success) {
                            layer.msg("登录成功！3秒后跳转到管理页面！");
                            setTimeout(function() {
                                window.location.href = '/admin/@Url.Action("ManagementSystem", "ManagementSystem")';
                            },3000);
                        } else {
                            $("#verificationImage").attr('src', '/admin/@Url.Action("VerificationCodeImage", "VerificationCode")?' + Math.random(999999));
                            layer.msg(response.message);
                        }
                    }); 
            }
        });

        //点击验证码
        $("#verificationImage").click(function() {
            $("#verificationImage").attr('src', '/admin/@Url.Action("VerificationCodeImage", "VerificationCode")?' + Math.random(999999));
        });
        
        $('.form-control').keypress(function(){
            $('.log-status').removeClass('wrong-entry');
        });
    });
</script>




</body>

</html>