@model object;
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title>昆山海运物流有限公司</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1200,user-scalable=yes"><!--最大宽度1200px 允许用户缩放-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/tf.css" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/css/tf.css" />
    <link rel="stylesheet" type="text/css" href="css/style1.css" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/css/style1.css" />

</head>

<body>
    <!--头部视图渲染start-->
    @Html.Partial("_Header");
    <!--头部视图渲染end-->
    <div id="wrapper" class="about-page">
        <img src="/images/7htc.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu//images/7htc.jpg" class="about-page-img" />
    </div>
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="cebian">
                        <img src="/images/ww.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu//images/ww.png" />
                        <div>
                            <div></div>
                            <h2>联系我们</h2>
                            <p>CONTACT</p>
                        </div>
                    </div>
                    <div class="ab-cebian"></div>
                    <div class="cebian-lianxi">
                        <div><strong>全国服务热线 :</strong></div>
                        <div><span>0512-57995109</span></div>
                        <div><strong>TEL:</strong>0512-57995109</div>
                        <div><strong>QQ:</strong>1927732720</div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="bread-xie">
                        <a href="index.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/index.html">首页</a>>><a href="">联系我们</a>
                    </div>
                    <div class="about-jianjie clearfix">
                        <div class="col-sm-6">
                            <iframe src="map.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/map.html"></iframe>
                        </div>
                        <div class="col-sm-6 lianxi">
                            <div>
                                <strong>地址：</strong>
                                昆山市前进西路301号
                            </div>
                            <div>
                                <strong>电话：</strong>
                                15995656015
                            </div>
                            <div>
                                <strong>联系人：</strong>
                                温总
                            </div>
                            <div>
                                <strong>邮箱：</strong>
                                hx_hou@geding.net
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部渲染start-->
    @Html.Partial("_Bottom");
    <!--底部渲染end-->

</body>
<script type="text/javascript" src="js/jquery.min.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/main.js"></script>

</html>